{% extends "adminbase.html" %}

{% block content %}
<nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img alt="Brand" style="height: 25px" src="{{ url_for('static', filename='prkng.png')  }}"></a>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li id="checkins-btn" class="active"><a href="#" ng-click="showTable('checkins');">Check-Ins</a></li>
            <li id="reports-btn"><a href="#" ng-click="showTable('reports');">Reports</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sélectionner une ville<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#" ng-click="LoadCity('montreal');">Montréal</a></li>
                <li><a href="#" ng-click="LoadCity('quebec');">Québec</a></li>
              </ul>
            </li>
            <li><a href="/admin/logout">Log out</a></li>
          </ul>
   </div><!--/.nav-collapse -->
  </div>
</nav>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Choose date ranges</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span><input type="text" name="reservation" id="daterange" class="form-control" value="Start - End" />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="loadCheckins();">Load Checkins!</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div id="map" style="height: 500px"></div>
  <table st-table="displayedresults" st-safe-src="results" class="table table-striped">
    <thead>
    <tr ng-if="displaying == 'checkins'">
      <th>checkin-date</th>
      <th>name</th>
      <th>gender</th>
      <th>email</th>
      <th>way</th>
      <th>long</th>
      <th>lat</th>
    </tr>
    <tr ng-if="displaying == 'reports'">
      <th>report-date</th>
      <th>name</th>
      <th>email</th>
      <th>long</th>
      <th>lat</th>
      <th>way</th>
      <th>image</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th colspan="7"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
        <th ng-if="displaying == 'reports'"><a class="btn btn-sm btn-primary" ng-click="loadAllReports();">All</a></th>
    </tr>
    <tr ng-if="displaying == 'checkins'" ng-repeat="row in displayedresults">
      <td>{% raw %}{{row.created}}{% endraw %}</td>
      <td>{% raw %}{{row.name}}{% endraw %}</td>
      <td>{% raw %}{{row.gender}}{% endraw %}</td>
      <td>{% raw %}{{row.email}}{% endraw %}</td>
      <td>{% raw %}{{row.way_name}}{% endraw %}</td>
      <td>{% raw %}{{row.long}}{% endraw %}</td>
      <td>{% raw %}{{row.lat}}{% endraw %}</td>
    </tr>
    <tr ng-if="displaying == 'reports'" ng-repeat="row in displayedresults">
      <td>{% raw %}{{row.created}}{% endraw %}</td>
      <td>{% raw %}{{row.name}}{% endraw %}</td>
      <td>{% raw %}{{row.email}}{% endraw %}</td>
      <td>{% raw %}{{row.long}}{% endraw %}</td>
      <td>{% raw %}{{row.lat}}{% endraw %}</td>
      <td>{% raw %}{{row.way_name}}{% endraw %}</td>
      <td><a ng-href="{% raw %}{{row.image_url}}{% endraw %}" target="_blank">image</a></td>
      <td><a class="btn btn-sm btn-danger" href="#" ng-click="deleteReport(row.id);">Delete</a></td>
    </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="7" class="text-center">
          <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
        </td>
      </tr>
    </tfoot>
  </table>
  <button type="button" class="btn btn-success" csv-header="getHeader()" ng-csv="results" filename="checkins_{% raw %}{{current_district_name}}{% endraw %}.csv">CSV</button>
  <button type="button" class="btn btn-success" ng-click="savetojson()" >JSON</button>
</div>
<script>

'use strict';

var map = L.map('map').setView([45.55, -73.585], 8);

L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
    maxZoom: 20,
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
        '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
        'Imagery © <a href="http://mapbox.com">Mapbox</a>',
    id: 'arnaudspuhler.l54pj66f'
}).addTo(map);


var app = angular.module('main', ['smart-table', 'ngCsv']).
controller('jscontroller', function($scope, $http, $window) {
  function onEachFeature(feature, layer) {
      layer.on('click', function (e) {
        $scope.current_district = e.target.feature.id;
        $scope.current_district_name = e.target.feature.properties.name;
        if ( $scope.displaying == "checkins" ) {
          $('#myModal').modal();
        } else {
          $scope.loadReports();
        }
      });
      layer.bindPopup(feature.properties.name);
      if ( feature.geometry.type === "MultiPolygon" ) {
        // get the bounds for the first polygon that makes up the multipolygon
        map.panTo(new L.LatLng(
          feature.geometry.coordinates[0][0][0][1],
          feature.geometry.coordinates[0][0][0][0]));
        map.setZoom(10);
      }
  };

  var geoj = L.geoJson(null, {
      onEachFeature: onEachFeature,
  });

  $scope.displaying = "checkins";

  $scope.LoadCity = function (name) {
      geoj.clearLayers();
      $.get('/admin/district/' + name,
        function(data){geoj.addData(data);}
      );

      $scope.city = name;

      geoj.addTo(map);
  }

  $scope.showTable = function (name) {
      $scope.displaying = name;
      $('.nav > li').removeClass("active");
      $('#'+name+'-btn').addClass("active");
      if ($scope.results) {
        $scope.results = [];
        $scope.displayedresults = $scope.results.slice(0);
      }
  }

  // $(document).ready(function() {
  $('#daterange').daterangepicker({
    timePicker: true,
    timePickerIncrement: 30,
    // format: 'MM/DD/YYYY h:mm A',
    startDate: moment().subtract(29, 'days'),
    endDate: moment()
  },
  function(start, end) {
      $scope.dates = [start.format(), end.format()];
  });
  // });

  $scope.loadCheckins = function () {
      $('#myModal').modal('hide');
      $http.get('/admin/checkins/' + $scope.city + '/' + $scope.current_district,
          {
              params: {'startdate': $scope.dates[0], 'enddate': $scope.dates[1]}
          })
          .success(function(data, status, headers, config) {
             $scope.results = data.results;
             $scope.displayedresults = $scope.results.slice(0);
             $scope.itemsByPage=15;
          });
  };

  $scope.loadReports = function () {
      $http.get('/admin/reports/' + $scope.city + '/' + $scope.current_district)
          .success(function(data, status, headers, config) {
             $scope.results = data.results;
             $scope.displayedresults = $scope.results.slice(0);
             $scope.itemsByPage=15;
          });
  };

  $scope.loadAllReports = function () {
      $http.get('/admin/reports/' + $scope.city)
          .success(function(data, status, headers, config) {
             $scope.results = data.results;
             $scope.displayedresults = $scope.results.slice(0);
             $scope.itemsByPage=15;
          });
  };

  $scope.deleteReport = function(id) {
      $http.delete('/admin/reports/' + id)
          .success(function(data, status, headers, config) {
            $scope.results = $.grep($scope.results, function(result) {
              return result.id != id;
            });
          });
  };

  $scope.savetojson = function () {
      $window.open("data:application/json,"+ angular.toJson($scope.results), "_blank", "width=800,height=600");
  };

  $scope.getHeader = function () {return ['created', 'email', 'gender', 'name', 'way_name']};

});

</script>
{% endblock %}
