<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='leaflet/leaflet.css') }}" />
    <style>
        html, body, #map {
            height:99%;
            width:99%;
            /*padding:0px;*/
        }
    </style>
</head>

<body>
    <div id="map" style="width: 100%"></div>

<script src="{{ url_for('static', filename='leaflet/leaflet.js')  }}"></script>
<script>

    'use strict';

    var map = L.map('map').setView([45.55, -73.585], 9);

    L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
        maxZoom: 20,
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
            '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Imagery © <a href="http://mapbox.com">Mapbox</a>',
        id: 'examples.map-20v6611k'
    }).addTo(map);

    var myStyle = {
        "color": "blue",
        "weight": 4,
        "opacity": 0.5,
    };

    function onEachFeature(feature, layer) {
        // does this feature have a property named popupContent?
        if (feature.properties) {
            layer.bindPopup(feature.id + ' : ' + feature.properties.description);
        };

    }

    var geoj = L.geoJson({{ geojson|tojson|safe }}, {
        onEachFeature: onEachFeature,
        style: myStyle
    });

    geoj.addTo(map);

    setTimeout(function (){
        map.fitBounds(geoj.getBounds());
    }, 5);

</script>
</body>
</html>
