.
git+https://github.com/flask-restful/flask-restful.git@231da4bec647a20edd10888d965230ccac9efd37#egg=flask-restful
apns==2.0.1
babel==2.1.1
demjson==2.2.3
geoalchemy2==0.2.5
boto==2.38.0
redis==2.10.3
pyrq==0.4.1
rq-scheduler==0.5.1
pytz==2015.6
suds==0.4
